<!--rails s -b $IP -p $PORT-->

<div class="jumbotron text-center">
  <h1>Bem-vindo ao receitando!</h1>
  <h2> Aqui você vai aprender com os melhores chefs da cidade!</h2>
  <%= link_to "Cozinhe agora!", "", class:"btn btn-lg btn-success" %>
</div>

<div class="row">
  
  <div class="col-lg-4 text-center">
    <div class="features">
      <h3 class="midrow">Seja nosso convidado</h3>
      <h2 class="tex">Prove um pouco de nossas receitas e asssine depois</h2>
      <p> <%=link_to "Lista de Receitas", "", class:"btn btn-small btn-warning" %> </p>
    </div>
  </div>
  
  <div class="col-lg-4 text-center">
    <div class="features">
      <h3 class="midrow">Seja nosso convidado</h3>
      <h2 class="tex">Prove um pouco de nossas receitas e asssine depois</h2>
      <p> <%=link_to "Lista de Receitas", "", class:"btn btn-small btn-warning" %> </p>
    </div>
  </div>
  
  <div class="col-lg-4 text-center">
    <div class="features">
      <h3 class="midrow">Seja nosso convidado</h3>
      <h2 class="tex">Prove um pouco de nossas receitas e asssine depois</h2>
      <p> <%=link_to "Lista de Receitas", "", class:"btn btn-small btn-warning" %> </p>
    </div>
  </div>
  
</div>




